@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-rubik: "Rubik", sans-serif;
  --text-3xl: 28px;
  --text-5xl: 40px;
  --text-6xl: 64px;
  --text-8xl: 88px;
  --text-10xl: 144px;

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-500: #626C7F;
  --color-grey-50: #F4F6FA;
  --color-blue-950: #2D3949;
  --color-blue-900: #313E51;
  --color-blue-850: #3B4D66;
  --color-blue-500: #306AFF;
  --color-blue-300: #ABC1E1;
  --color-blue-100: #EDF1F9;
  --color-blue-50: #EBF0FF;
  --color-green-500: #2FD887;
  --color-green-100: #E0FDEF;
  --color-purple-600: #A729F5;
  --color-purple-100: #F6E7FF;
  --color-orange-400: #FF7E35;
  --color-orange-50: #FFF5ED;
  --color-red-500: #EE5454;
}

@layer base {
  body {
    font-family: var(--font-rubik);
  }
}